# Vaccination Rollout
https://data.gov.ie/dataset/covid-19-hse-weekly-vaccination-figures?package_type=dataset
***

https://ourworldindata.org/explorers/coronavirus-data-explorer?facet=none&pickerSort=asc&pickerMetric=location&Metric=People+fully+vaccinated&Interval=7-day+rolling+average&Relative+to+Population=true&Align+outbreaks=false&country=AUT~BEL~BGR~HRV~CYP~CZE~DNK~EST~FIN~FRA~DEU~GRC~HUN~IRL~ITA~LVA~LTU~LUX~MLT~NLD~POL~PRT~ROU~SVK~SVN~ESP~SWE

https://ourworldindata.org/covid-vaccinations

### countries in eu
https://www.worldometers.info/population/countries-in-the-eu-by-population/

# Variables
***

### Investigate the types of variables involved, their likely distributions, and their relationships with each other.

1. supply

2. demand/country/population

3. type of vaccines avialable

4. distribution of vaccine

# Relationship between variables
***

# Simulation of dataset
***

### Detail your research and implement the simulation in a Jupyter notebook â€“ the data set itself can simply be displayed in an output cell within the notebook.

***

### Synthesise/simulate a data set as closely matching their properties as possible

### pandas df simulation here

one-hundred data points across at least four different variables

compare vaccinated between eu countries. population, male, female, children

In [1]:
# For numerical arrays. 
import numpy as np

# For plotting
import matplotlib.pyplot as plt

# For dataframes
import pandas as pd

#

population as per 14dec from https://en.wikipedia.org/wiki/Demographics_of_the_European_Union

vaccinated as per 14dec from https://ourworldindata.org/explorers/coronavirus-data-explorer?tab=table&facet=none&pickerSort=asc&pickerMetric=location&Metric=People+fully+vaccinated&Interval=7-day+rolling+average&Relative+to+Population=true&Align+outbreaks=false&country=~AUT

In [2]:
data = {'country':['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark',
           'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia',
           'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia',
           'Slovenia', 'Spain', 'Sweden'],
        'population':['8,772,865', '11,351,727', '7,101,859', '4,154,213', '854,802', '10,578,820', '5,748,769', 
                      '1,315,635', '5,503,297', '66,989,083', '82,521,653', '10,768,193', '9,797,561', '4,904,226',
                     '60,589,445', '1,950,116', '2,847,904', '590,667', '467,988', '17,081,507', '37,972,964', 
                     '10,309,573', '19,644,350', '5,435,343', '2,065,895', '46,528,966', '9,995,153'],
        '%_vaccinated':[68.38, 75.06, 26.67, 49.92, 65.88, 60.49, 77.18, 60.50, 73.56, 70.80, 68.99, 65.21, 
                      61.17, 76.43, 73.37, 65.78, 67.06, 67.69, 84.08, 74.37, 54.73, 88.81, 39.88, 43.32,
                      56.30, 80.66, 71.46],
       '%_unvaccinated':[31.62, 24.94, 73.31, 50.08, 34.12, 39.51, 22.82, 39.50, 26.44, 29.20, 31.01, 34.79,
                        38.83, 23.57, 26.63, 34.22, 32.94, 32.31, 15.92, 25.63, 45.27, 11.19, 60.12, 56.68,
                        43.70, 19.34, 28.54]}

df = pd.DataFrame(data)
df.columns = ['country', 'population', '%_vaccinated', '%_unvaccinated']
df.set_index('country', inplace=True)
df

                population  %_vaccinated  %_unvaccinated
country
Austria          8,772,865         68.38           31.62
Belgium         11,351,727         75.06           24.94
Bulgaria         7,101,859         26.67           73.31
Croatia          4,154,213         49.92           50.08
Cyprus             854,802         65.88           34.12
Czech Republic  10,578,820         60.49           39.51
Denmark          5,748,769         77.18           22.82
Estonia          1,315,635         60.50           39.50
Finland          5,503,297         73.56           26.44
France          66,989,083         70.80           29.20
Germany         82,521,653         68.99           31.01
Greece          10,768,193         65.21           34.79
Hungary          9,797,561         61.17           38.83
Ireland          4,904,226         76.43           23.57
Italy           60,589,445         73.37           26.63
Latvia           1,950,116         65.78           34.22
Lithuania        2,847,904         67.06           32.94
Luxembourg         590,667         67.69           32.31
Malta              467,988         84.08           15.92
Netherlands     17,081,507         74.37           25.63
Poland          37,972,964         54.73           45.27
Portugal        10,309,573         88.81           11.19
Romania         19,644,350         39.88           60.12
Slovakia         5,435,343         43.32           56.68
Slovenia         2,065,895         56.30           43.70
Spain           46,528,966         80.66           19.34
Sweden           9,995,153         71.46           28.54

In [3]:
df.dtypes

population         object
%_vaccinated      float64
%_unvaccinated    float64
dtype: object

In [4]:
df.shape

(27, 3)

In [5]:
df.size

81

In [6]:
df.describe()

       %_vaccinated  %_unvaccinated
count     27.000000       27.000000
mean      65.472222       34.527037
std       13.771741       13.769574
min       26.670000       11.190000
25%       60.495000       26.035000
50%       67.690000       32.310000
75%       73.965000       39.505000
max       88.810000       73.310000

In [7]:
df.head()

          population  %_vaccinated  %_unvaccinated
country
Austria    8,772,865         68.38           31.62
Belgium   11,351,727         75.06           24.94
Bulgaria   7,101,859         26.67           73.31
Croatia    4,154,213         49.92           50.08
Cyprus       854,802         65.88           34.12

In [8]:
df.tail()

          population  %_vaccinated  %_unvaccinated
country
Romania   19,644,350         39.88           60.12
Slovakia   5,435,343         43.32           56.68
Slovenia   2,065,895         56.30           43.70
Spain     46,528,966         80.66           19.34
Sweden     9,995,153         71.46           28.54

In [9]:
df.min()

population        1,315,635
%_vaccinated          26.67
%_unvaccinated        11.19
dtype: object

In [10]:
df.max()

population        9,995,153
%_vaccinated          88.81
%_unvaccinated        73.31
dtype: object

In [11]:
df.loc['Ireland']

population        4,904,226
%_vaccinated          76.43
%_unvaccinated        23.57
Name: Ireland, dtype: object

In [12]:
df.query[]

SyntaxError: invalid syntax (<ipython-input-12-814d30f986a2>, line 1)

# References
***
All references and code used in this notebook has been sourced in Dec 2021 from the following webpages:


- 


-

***
# End