# Vaccination Rollout
https://data.gov.ie/dataset/covid-19-hse-weekly-vaccination-figures?package_type=dataset
***

https://ourworldindata.org/explorers/coronavirus-data-explorer?facet=none&pickerSort=asc&pickerMetric=location&Metric=People+fully+vaccinated&Interval=7-day+rolling+average&Relative+to+Population=true&Align+outbreaks=false&country=AUT~BEL~BGR~HRV~CYP~CZE~DNK~EST~FIN~FRA~DEU~GRC~HUN~IRL~ITA~LVA~LTU~LUX~MLT~NLD~POL~PRT~ROU~SVK~SVN~ESP~SWE

https://ourworldindata.org/covid-vaccinations

### countries in eu
https://www.worldometers.info/population/countries-in-the-eu-by-population/

# Variables
***

### Investigate the types of variables involved, their likely distributions, and their relationships with each other.

1. supply

2. demand/country/population

3. type of vaccines avialable

4. distribution of vaccine

# Relationship between variables
***

# Simulation of dataset
***

### Detail your research and implement the simulation in a Jupyter notebook â€“ the data set itself can simply be displayed in an output cell within the notebook.

***

### Synthesise/simulate a data set as closely matching their properties as possible

### pandas df simulation here

one-hundred data points across at least four different variables

compare vaccinated between eu countries. population, male, female, children

In [1]:
# For numerical arrays. 
import numpy as np

# For plotting
import matplotlib.pyplot as plt

# For dataframes
import pandas as pd

#

population as per 14dec from https://en.wikipedia.org/wiki/Demographics_of_the_European_Union

vaccinated as per 14dec from https://ourworldindata.org/explorers/coronavirus-data-explorer?tab=table&facet=none&pickerSort=asc&pickerMetric=location&Metric=People+fully+vaccinated&Interval=7-day+rolling+average&Relative+to+Population=true&Align+outbreaks=false&country=~AUT

type of vaccines ireland https://covid-19.geohive.ie/pages/vaccinations

In [35]:
data = {'country':['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark',
           'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia',
           'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia',
           'Slovenia', 'Spain', 'Sweden'],
        'population':[8772865, 11351727, 7101859, 4154213, 854802, 10578820, 5748769, 1315635, 5503297, 
                      66989083, 82521653, 10768193, 9797561, 4904226, 60589445, 1950116, 2847904, 590667, 
                      467988, 17081507, 37972964, 10309573, 19644350, 5435343, 2065895, 46528966, 9995153],
        'reported_cases':[1230000, 1960000, 714688, 654655, 141566, 2340000, 568477, 228596, 205357, 8360000, 6580000,
                          1010000, 120000, 628306, 5240000, 262215, 491953, 94300, 40624, 2940000, 3840000, 120000, 
                         1790000, 1290000, 440633, 5340000, 1230000],
        '%fully_vaccinated':[68.38, 75.06, 26.67, 49.92, 65.88, 60.49, 77.18, 60.50, 73.56, 70.80, 68.99, 65.21, 
                      61.17, 76.43, 73.37, 65.78, 67.06, 67.69, 84.08, 74.37, 54.73, 88.81, 39.88, 43.32,
                      56.30, 80.66, 71.46],
        '%partially_vaccinated':[3.11, 1.09, 0.80, 4.60, 4.53, 2.28, 3.00, 2.38, 4.29, 6.28, 3.01, 4.74, 3.03, 1.23,
                                5.53, 3.36, 3.19, 2.51, 0.58, 2.93, 1.29, 0.21, 1.43, 5.69, 3.23, 1.70, 3.96],
       '%_unvaccinated':[28.51, 23.85, 72.53, 45.48, 29.59, 37.23, 19.82, 37.12, 22.15, 22.92, 28.00, 30.05, 
                        35.80, 22.34, 21.10, 30.86, 29.75, 29.80, 15.34, 22.70, 43.98, 10.98, 58.69, 50.99, 
                        40.47, 17.64, 24.58]}

df = pd.DataFrame(data)
df.columns = ['country', 'population', 'reported_cases', '%fully_vaccinated', '%partially_vaccinated', '%_unvaccinated']
df.set_index('country', inplace=True)
df

,population,reported_cases,%fully_vaccinated,%partially_vaccinated,%_unvaccinated
country,,,,,
Austria,8772865,1230000,68.38,3.11,28.51
Belgium,11351727,1960000,75.06,1.09,23.85
Bulgaria,7101859,714688,26.67,0.80,72.53
Croatia,4154213,654655,49.92,4.60,45.48
Cyprus,854802,141566,65.88,4.53,29.59
Czech Republic,10578820,2340000,60.49,2.28,37.23
Denmark,5748769,568477,77.18,3.00,19.82
Estonia,1315635,228596,60.50,2.38,37.12
Finland,5503297,205357,73.56,4.29,22.15
France,66989083,8360000,70.80,6.28,22.92
Germany,82521653,6580000,68.99,3.01,28.00
Greece,10768193,1010000,65.21,4.74,30.05
Hungary,9797561,120000,61.17,3.03,35.80
Ireland,4904226,628306,76.43,1.23,22.34
Italy,60589445,5240000,73.37,5.53,21.10
Latvia,1950116,262215,65.78,3.36,30.86
Lithuania,2847904,491953,67.06,3.19,29.75
Luxembourg,590667,94300,67.69,2.51,29.80
Malta,467988,40624,84.08,0.58,15.34
Netherlands,17081507,2940000,74.37,2.93,22.70
Poland,37972964,3840000,54.73,1.29,43.98
Portugal,10309573,120000,88.81,0.21,10.98
Romania,19644350,1790000,39.88,1.43,58.69
Slovakia,5435343,1290000,43.32,5.69,50.99
Slovenia,2065895,440633,56.30,3.23,40.47
Spain,46528966,5340000,80.66,1.70,17.64
Sweden,9995153,1230000,71.46,3.96,24.58

In [36]:
df.to_csv('data/eu_vaccinations.csv')

In [37]:
df.dtypes

population                 int64
reported_cases             int64
%fully_vaccinated        float64
%partially_vaccinated    float64
%_unvaccinated           float64
dtype: object

In [38]:
df.shape

(27, 5)

In [39]:
df.size

135

In [40]:
df.describe()

,population,reported_cases,%fully_vaccinated,%partially_vaccinated,%_unvaccinated
count,2.700000e+01,2.700000e+01,27.000000,27.000000,27.000000
mean,1.651269e+07,1.772643e+06,65.472222,2.962222,31.565556
std,2.221456e+07,2.221006e+06,13.771741,1.624228,13.725404
min,4.679880e+05,4.062400e+04,26.670000,0.210000,10.980000
25%,3.501058e+06,2.454055e+05,60.495000,1.565000,22.520000
50%,8.772865e+06,7.146880e+05,67.690000,3.010000,29.590000
75%,1.421662e+07,2.150000e+06,73.965000,4.125000,37.175000
max,8.252165e+07,8.360000e+06,88.810000,6.280000,72.530000

In [41]:
df.head()

,population,reported_cases,%fully_vaccinated,%partially_vaccinated,%_unvaccinated
country,,,,,
Austria,8772865,1230000,68.38,3.11,28.51
Belgium,11351727,1960000,75.06,1.09,23.85
Bulgaria,7101859,714688,26.67,0.80,72.53
Croatia,4154213,654655,49.92,4.60,45.48
Cyprus,854802,141566,65.88,4.53,29.59

In [42]:
df.tail()

,population,reported_cases,%fully_vaccinated,%partially_vaccinated,%_unvaccinated
country,,,,,
Romania,19644350,1790000,39.88,1.43,58.69
Slovakia,5435343,1290000,43.32,5.69,50.99
Slovenia,2065895,440633,56.30,3.23,40.47
Spain,46528966,5340000,80.66,1.70,17.64
Sweden,9995153,1230000,71.46,3.96,24.58

In [43]:
df.min()

population               467988.00
reported_cases            40624.00
%fully_vaccinated            26.67
%partially_vaccinated         0.21
%_unvaccinated               10.98
dtype: float64

In [44]:
df.max()

population               82521653.00
reported_cases            8360000.00
%fully_vaccinated              88.81
%partially_vaccinated           6.28
%_unvaccinated                 72.53
dtype: float64

In [45]:
df.loc['Ireland']

population               4904226.00
reported_cases            628306.00
%fully_vaccinated             76.43
%partially_vaccinated          1.23
%_unvaccinated                22.34
Name: Ireland, dtype: float64

In [46]:
df.query[]

SyntaxError: invalid syntax (<ipython-input-46-814d30f986a2>, line 1)

# References
***
All references and code used in this notebook has been sourced in Dec 2021 from the following webpages:


- 


-

***
# End