# Vaccination Rollout
https://data.gov.ie/dataset/covid-19-hse-weekly-vaccination-figures?package_type=dataset
***

https://ourworldindata.org/explorers/coronavirus-data-explorer?facet=none&pickerSort=asc&pickerMetric=location&Metric=People+fully+vaccinated&Interval=7-day+rolling+average&Relative+to+Population=true&Align+outbreaks=false&country=AUT~BEL~BGR~HRV~CYP~CZE~DNK~EST~FIN~FRA~DEU~GRC~HUN~IRL~ITA~LVA~LTU~LUX~MLT~NLD~POL~PRT~ROU~SVK~SVN~ESP~SWE

https://ourworldindata.org/covid-vaccinations

### countries in eu
https://www.worldometers.info/population/countries-in-the-eu-by-population/

# Variables
***

### Investigate the types of variables involved, their likely distributions, and their relationships with each other.

1. supply

2. demand/country/population

3. type of vaccines avialable

4. distribution of vaccine

columns: country	population,	reported_cases,	covid_deaths,	fully_vaccinated,	partially_vaccinated,	unvaccinated

### Reported cases

### Reported covid retaled deaths

### Percentage of population fully vaccinated

### Percentage of polulation partially vaccinated

### Percentage of population unvaccinated

# Relationship between variables
***

### cases vs deaths

### vaccinated vs partially vs unvaccinated

### vaccinated vs cases

### unvaccinated vs deaths

# Simulation of dataset
***

### Detail your research and implement the simulation in a Jupyter notebook â€“ the data set itself can simply be displayed in an output cell within the notebook.

***

### Synthesise/simulate a data set as closely matching their properties as possible

### pandas df simulation here

one-hundred data points across at least four different variables

compare vaccinated between eu countries. population, male, female, children

In [1]:
# For numerical arrays. 
import numpy as np

# For plotting
import matplotlib.pyplot as plt

# For dataframes
import pandas as pd

#

In [2]:
# Using magic command to set plots to display inline.
%matplotlib inline

# Setting plot style. 
#plt.style.use('fivethirtyeight')

# Set figure size. 
plt.rcParams['figure.figsize'] = [18, 14]

population as per 13dec from https://en.wikipedia.org/wiki/Demographics_of_the_European_Union

vaccinated as per 13dec from https://ourworldindata.org/explorers/coronavirus-data-explorer?tab=table&facet=none&pickerSort=asc&pickerMetric=location&Metric=People+fully+vaccinated&Interval=7-day+rolling+average&Relative+to+Population=true&Align+outbreaks=false&country=~AUT

deaths as of 14dec https://ourworldindata.org/coronavirus-data

type of vaccines ireland https://covid-19.geohive.ie/pages/vaccinations

In [3]:
'''
# Creating data for df columns. 
data = {'country':['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark',
           'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia',
           'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia',
           'Slovenia', 'Spain', 'Sweden'],
        'population':[8772865, 11351727, 7101859, 4154213, 854802, 10578820, 5748769, 1315635, 5503297, 
                      66989083, 82521653, 10768193, 9797561, 4904226, 60589445, 1950116, 2847904, 590667, 
                      467988, 17081507, 37972964, 10309573, 19644350, 5435343, 2065895, 46528966, 9995153],
        'reported_cases':[1230000, 1960000, 714688, 654655, 141566, 2340000, 568477, 228596, 205357, 8360000, 
                          6580000, 1010000, 120000, 628306, 5240000, 262215, 491953, 94300, 40624, 2940000, 
                          3840000, 120000, 1790000, 1290000, 440633, 5340000, 1230000],
        'reported_deaths':[13218, 27631, 29536, 11666, 611, 34551, 3023, 1865, 1442, 121000, 106000, 19345, 36884,
                       5788, 135000, 4376, 6989, 895, 471, 20140, 88508, 18673, 57741, 15415, 5425, 88484, 15191],
        'fully_vaccinated':[68.38, 75.06, 26.67, 49.92, 65.88, 60.49, 77.18, 60.50, 73.56, 70.80, 68.99, 65.21, 
                      61.17, 76.43, 73.37, 65.78, 67.06, 67.69, 84.08, 74.37, 54.73, 88.81, 39.88, 43.32,
                      56.30, 80.66, 71.46],
        'partially_vaccinated':[3.11, 1.09, 0.80, 4.60, 4.53, 2.28, 3.00, 2.38, 4.29, 6.28, 3.01, 4.74, 3.03, 1.23,
                                5.53, 3.36, 3.19, 2.51, 0.58, 2.93, 1.29, 0.21, 1.43, 5.69, 3.23, 1.70, 3.96],
       'unvaccinated':[28.51, 23.85, 72.53, 45.48, 29.59, 37.23, 19.82, 37.12, 22.15, 22.92, 28.00, 30.05, 
                        35.80, 22.34, 21.10, 30.86, 29.75, 29.80, 15.34, 22.70, 43.98, 10.98, 58.69, 50.99, 
                        40.47, 17.64, 24.58]}

# Inputting data into df. 
df = pd.DataFrame(data)
# Setting column names. 
df.columns = ['country', 'population', 'reported_cases', 'reported_deaths', 'fully_vaccinated', 
              'partially_vaccinated', 'unvaccinated']
# Setting index to np array starting at 1. 
df.index = np.arange(1, len(df)+1)
#df.set_index('country', inplace=True)
df
'''

"\n# Creating data for df columns. \ndata = {'country':['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark',\n           'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia',\n           'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia',\n           'Slovenia', 'Spain', 'Sweden'],\n        'population':[8772865, 11351727, 7101859, 4154213, 854802, 10578820, 5748769, 1315635, 5503297, \n                      66989083, 82521653, 10768193, 9797561, 4904226, 60589445, 1950116, 2847904, 590667, \n                      467988, 17081507, 37972964, 10309573, 19644350, 5435343, 2065895, 46528966, 9995153],\n        'reported_cases':[1230000, 1960000, 714688, 654655, 141566, 2340000, 568477, 228596, 205357, 8360000, \n                          6580000, 1010000, 120000, 628306, 5240000, 262215, 491953, 94300, 40624, 2940000, \n                          3840000, 120000, 1790000, 1290000, 440633, 5340000, 1230000],\n        'reported_deaths':[13218, 27631, 29536, 11666, 611, 34551, 3023, 1865, 1442, 121000, 106000, 19345, 36884,\n                       5788, 135000, 4376, 6989, 895, 471, 20140, 88508, 18673, 57741, 15415, 5425, 88484, 15191],\n        'fully_vaccinated':[68.38, 75.06, 26.67, 49.92, 65.88, 60.49, 77.18, 60.50, 73.56, 70.80, 68.99, 65.21, \n                      61.17, 76.43, 73.37, 65.78, 67.06, 67.69, 84.08, 74.37, 54.73, 88.81, 39.88, 43.32,\n                      56.30, 80.66, 71.46],\n        'partially_vaccinated':[3.11, 1.09, 0.80, 4.60, 4.53, 2.28, 3.00, 2.38, 4.29, 6.28, 3.01, 4.74, 3.03, 1.23,\n                                5.53, 3.36, 3.19, 2.51, 0.58, 2.93, 1.29, 0.21, 1.43, 5.69, 3.23, 1.70, 3.96],\n       'unvaccinated':[28.51, 23.85, 72.53, 45.48, 29.59, 37.23, 19.82, 37.12, 22.15, 22.92, 28.00, 30.05, \n                        35.80, 22.34, 21.10, 30.86, 29.75, 29.80, 15.34, 22.70, 43.98, 10.98, 58.69, 50.99, \n                        40.47, 17.64, 24.58]}\n\n# Inputting data into df. \ndf = pd.DataFrame(data)\n# Setting column names. \ndf.columns = ['country', 'population', 'reported_cases', 'reported_deaths', 'fully_vaccinated', \n              'partially_vaccinated', 'unvaccinated']\n# Setting index to np array starting at 1. \ndf.index = np.arange(1, len(df)+1)\n#df.set_index('country', inplace=True)\ndf\n"

### referneces for end
https://stackoverflow.com/questions/20167930/start-index-at-1-for-pandas-dataframe/20168416

In [4]:
'''
# Saving df to data folder as csv file.
df.to_csv('data/eu_vaccinations.csv')
'''

"\n# Saving df to data folder as csv file.\ndf.to_csv('data/eu_vaccinations.csv')\n"

In [5]:
'''
# Checking data type of columns.
df.dtypes
'''

'\n# Checking data type of columns.\ndf.dtypes\n'

In [6]:
'''
# Give shape of df. 
df.shape
'''

'\n# Give shape of df. \ndf.shape\n'

In [7]:
'''
# Displays df size.
df.size
'''

'\n# Displays df size.\ndf.size\n'

In [8]:
'''
# Brief statistics of df. 
df.describe()
'''

'\n# Brief statistics of df. \ndf.describe()\n'

In [9]:
'''
# Shows first 5 rows of df. 
df.head()
'''

'\n# Shows first 5 rows of df. \ndf.head()\n'

In [10]:
'''
# Shows last 5 rows of df. 
df.tail()
'''

'\n# Shows last 5 rows of df. \ndf.tail()\n'

In [11]:
'''
# Show min values. 
df.min()
'''

'\n# Show min values. \ndf.min()\n'

In [12]:
'''
# Show max values. 
df.max()
'''

'\n# Show max values. \ndf.max()\n'

In [13]:
'''
# Locate Ireland info. 
df.iloc[13]
'''

'\n# Locate Ireland info. \ndf.iloc[13]\n'

In [14]:
'''
# Query how many less than. 
df.query('fully_vaccinated < unvaccinated')
'''

"\n# Query how many less than. \ndf.query('fully_vaccinated < unvaccinated')\n"

In [15]:
'''
# Query how many greater than. 
df.query('fully_vaccinated > unvaccinated')
'''

"\n# Query how many greater than. \ndf.query('fully_vaccinated > unvaccinated')\n"

In [16]:
'''
df.plot.barh(x='country', y=['fully_vaccinated', 'partially_vaccinated', 'unvaccinated'], width=0.65)
plt.gca().invert_yaxis()
plt.xlabel('Percentage of Population')
plt.ylabel('Countries')
plt.title('Vaccination Percentages of European Union')
plt.show()
'''

"\ndf.plot.barh(x='country', y=['fully_vaccinated', 'partially_vaccinated', 'unvaccinated'], width=0.65)\nplt.gca().invert_yaxis()\nplt.xlabel('Percentage of Population')\nplt.ylabel('Countries')\nplt.title('Vaccination Percentages of European Union')\nplt.show()\n"

# using numpy to model data

In [22]:
country = {'country':['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark',
           'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia',
           'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia',
           'Slovenia', 'Spain', 'Sweden']}

df = pd.DataFrame(country)
df.columns = ['country']
df.index = np.arange(1, len(df)+1)
df

           country
1          Austria
2          Belgium
3         Bulgaria
4          Croatia
5           Cyprus
6   Czech Republic
7          Denmark
8          Estonia
9          Finland
10          France
11         Germany
12          Greece
13         Hungary
14         Ireland
15           Italy
16          Latvia
17       Lithuania
18      Luxembourg
19           Malta
20     Netherlands
21          Poland
22        Portugal
23         Romania
24        Slovakia
25        Slovenia
26           Spain
27          Sweden

In [23]:
# , 'unvaccinated': np.around(np.random.uniform(10.98, 72.53, 27), 2) 
# , 'unvaccinated'

In [24]:
np.random.seed(1000)

data = {'popultion': np.random.randint(467988, 82521653, 27), 
        'reported_cases': np.random.randint(40624, 8360000, 27),
        'reported_deaths': np.random.randint(471, 135000, 27),
        'fully_vaccinated': np.around(np.random.uniform(26.67, 88.81, 27), 2),
        'partially_vaccinated': np.around(np.random.uniform(0.21, 6.28, 27), 2)}
    
# Inputting data into df2. 
df2 = pd.DataFrame(data)
# Setting column names. 
df2.columns = ['population', 'reported_cases', 'reported_deaths', 'fully_vaccinated',
              'partially_vaccinated']
df2.index = np.arange(1, len(df2)+1)
df2

,population,reported_cases,reported_deaths,fully_vaccinated,partially_vaccinated
1,77870699,6329956,19868,53.90,2.08
2,71906004,8212962,115938,46.67,3.98
3,55369999,4779973,17891,61.45,2.88
4,44526962,6666186,68178,80.44,5.75
5,58198384,4058900,108393,79.32,4.21
6,73705237,4350647,49625,33.37,4.18
7,27263636,2682688,45202,46.33,2.39
8,58864193,289700,31425,52.12,3.38
9,41096764,2679303,4218,69.37,0.48
10,2571133,5851148,127640,70.31,0.78
11,62239032,6394715,72560,54.40,5.80
12,34815696,1446433,101288,52.79,0.65
13,51236355,5157931,124063,76.55,5.85
14,2188536,8002923,52057,60.14,4.56
15,74144424,424112,80802,84.06,3.99
16,30885298,2858447,42656,30.52,4.79
17,21081008,968526,17892,49.51,1.07
18,44865970,1492253,23190,86.97,5.03
19,65512673,7184962,84586,70.11,4.61
20,50677478,2139057,17888,82.04,3.50
21,39899889,322747,43741,42.43,3.14
22,10398878,2154846,100265,71.75,3.10
23,34079266,7490123,133952,39.32,2.92
24,57494353,2873055,128044,60.07,5.16
25,16896601,679559,2191,41.39,1.88
26,34616159,7430143,100877,53.79,0.59
27,78323124,5259073,60589,76.26,6.04

In [25]:
# Joining df2 to df.
df = df.join(df2)
df

,country,population,reported_cases,reported_deaths,fully_vaccinated,partially_vaccinated
1,Austria,77870699,6329956,19868,53.90,2.08
2,Belgium,71906004,8212962,115938,46.67,3.98
3,Bulgaria,55369999,4779973,17891,61.45,2.88
4,Croatia,44526962,6666186,68178,80.44,5.75
5,Cyprus,58198384,4058900,108393,79.32,4.21
6,Czech Republic,73705237,4350647,49625,33.37,4.18
7,Denmark,27263636,2682688,45202,46.33,2.39
8,Estonia,58864193,289700,31425,52.12,3.38
9,Finland,41096764,2679303,4218,69.37,0.48
10,France,2571133,5851148,127640,70.31,0.78
11,Germany,62239032,6394715,72560,54.40,5.80
12,Greece,34815696,1446433,101288,52.79,0.65
13,Hungary,51236355,5157931,124063,76.55,5.85
14,Ireland,2188536,8002923,52057,60.14,4.56
15,Italy,74144424,424112,80802,84.06,3.99
16,Latvia,30885298,2858447,42656,30.52,4.79
17,Lithuania,21081008,968526,17892,49.51,1.07
18,Luxembourg,44865970,1492253,23190,86.97,5.03
19,Malta,65512673,7184962,84586,70.11,4.61
20,Netherlands,50677478,2139057,17888,82.04,3.50
21,Poland,39899889,322747,43741,42.43,3.14
22,Portugal,10398878,2154846,100265,71.75,3.10
23,Romania,34079266,7490123,133952,39.32,2.92
24,Slovakia,57494353,2873055,128044,60.07,5.16
25,Slovenia,16896601,679559,2191,41.39,1.88
26,Spain,34616159,7430143,100877,53.79,0.59
27,Sweden,78323124,5259073,60589,76.26,6.04

In [26]:
unvaccinated = np.subtract(df2['fully_vaccinated'], df2['partially_vaccinated'])

df3 = pd.DataFrame(unvaccinated)
# Setting column names. 
df3.columns = ['unvaccinated']
df3.index = np.arange(1, len(df3)+1)
df3

    unvaccinated
1          51.82
2          42.69
3          58.57
4          74.69
5          75.11
6          29.19
7          43.94
8          48.74
9          68.89
10         69.53
11         48.60
12         52.14
13         70.70
14         55.58
15         80.07
16         25.73
17         48.44
18         81.94
19         65.50
20         78.54
21         39.29
22         68.65
23         36.40
24         54.91
25         39.51
26         53.20
27         70.22

In [27]:
# Joining df3 to df.
df = df.join(df3)
df

,country,population,reported_cases,reported_deaths,fully_vaccinated,partially_vaccinated,unvaccinated
1,Austria,77870699,6329956,19868,53.90,2.08,51.82
2,Belgium,71906004,8212962,115938,46.67,3.98,42.69
3,Bulgaria,55369999,4779973,17891,61.45,2.88,58.57
4,Croatia,44526962,6666186,68178,80.44,5.75,74.69
5,Cyprus,58198384,4058900,108393,79.32,4.21,75.11
6,Czech Republic,73705237,4350647,49625,33.37,4.18,29.19
7,Denmark,27263636,2682688,45202,46.33,2.39,43.94
8,Estonia,58864193,289700,31425,52.12,3.38,48.74
9,Finland,41096764,2679303,4218,69.37,0.48,68.89
10,France,2571133,5851148,127640,70.31,0.78,69.53
11,Germany,62239032,6394715,72560,54.40,5.80,48.60
12,Greece,34815696,1446433,101288,52.79,0.65,52.14
13,Hungary,51236355,5157931,124063,76.55,5.85,70.70
14,Ireland,2188536,8002923,52057,60.14,4.56,55.58
15,Italy,74144424,424112,80802,84.06,3.99,80.07
16,Latvia,30885298,2858447,42656,30.52,4.79,25.73
17,Lithuania,21081008,968526,17892,49.51,1.07,48.44
18,Luxembourg,44865970,1492253,23190,86.97,5.03,81.94
19,Malta,65512673,7184962,84586,70.11,4.61,65.50
20,Netherlands,50677478,2139057,17888,82.04,3.50,78.54
21,Poland,39899889,322747,43741,42.43,3.14,39.29
22,Portugal,10398878,2154846,100265,71.75,3.10,68.65
23,Romania,34079266,7490123,133952,39.32,2.92,36.40
24,Slovakia,57494353,2873055,128044,60.07,5.16,54.91
25,Slovenia,16896601,679559,2191,41.39,1.88,39.51
26,Spain,34616159,7430143,100877,53.79,0.59,53.20
27,Sweden,78323124,5259073,60589,76.26,6.04,70.22

# Conclusion

# References
***
All references and code used in this notebook has been sourced in Dec 2021 from the following webpages:


- 


-

***
# End