![covid](https://www.bandondental.ie/uploads/LTClELt1/banner.png)

# Overview of Coronavirus in the European Union
https://ourworldindata.org/coronavirus#coronavirus-country-profiles
***

# Introduction
***

There are 27 member states in the [European Union](https://en.wikipedia.org/wiki/Demographics_of_the_European_Union) (EU) as of Dec 2021. In this notebook I will:


1. Investigate 4 variables of the Coronavirus Pandemic within the EU.


2. Simulate data to represent how these variables have affected countries in the EU.

# references for end

https://ourworldindata.org/explorers/coronavirus-data-explorer?facet=none&pickerSort=asc&pickerMetric=location&Metric=People+fully+vaccinated&Interval=7-day+rolling+average&Relative+to+Population=true&Align+outbreaks=false&country=AUT~BEL~BGR~HRV~CYP~CZE~DNK~EST~FIN~FRA~DEU~GRC~HUN~IRL~ITA~LVA~LTU~LUX~MLT~NLD~POL~PRT~ROU~SVK~SVN~ESP~SWE


https://ourworldindata.org/covid-vaccinations


https://www.worldometers.info/population/countries-in-the-eu-by-population/

# Variables
***

### Investigate the types of variables involved, their likely distributions, and their relationships with each other.

1. supply

2. demand/country/population

3. type of vaccines avialable

4. distribution of vaccine



**Columns**

country	population


reported_cases	


reported_deaths	


fully_vaccinated	


partially_vaccinated


unvaccinated	


cases_percentage	


death_percentage

## Reported cases

## Reported covid retaled deaths

## Percentage of population fully vaccinated

## Percentage of polulation partially vaccinated

## Percentage of population unvaccinated

# Relationship between variables
***

### cases vs deaths

### cases vs population

### vaccinated vs partially vs unvaccinated

### vaccinated vs cases

### unvaccinated vs cases

### unvaccinated vs deaths

### unvaccinated vs cases

# Simulate Data using Pandas
***

#### Detail your research and implement the simulation in a Jupyter notebook â€“ the data set itself can simply be displayed in an output cell within the notebook.

#### Synthesise/simulate a data set as closely matching their properties as possible

## Importing Modules
***

In [1]:
# For dataframes.
import pandas as pd

# For numerical arrays. 
import numpy as np

# For plotting.
import matplotlib.pyplot as plt

## Design & Style
***

In [2]:
# Using magic command to set plots to display inline.
%matplotlib inline

# Setting plot style. 
plt.style.use('fivethirtyeight')

# Set figure size. 
plt.rcParams['figure.figsize'] = [18, 14]

### referneces for end
https://stackoverflow.com/questions/20167930/start-index-at-1-for-pandas-dataframe/20168416

population as per 13dec from https://en.wikipedia.org/wiki/Demographics_of_the_European_Union

vaccinated as per 13dec from https://ourworldindata.org/explorers/coronavirus-data-explorer?tab=table&facet=none&pickerSort=asc&pickerMetric=location&Metric=People+fully+vaccinated&Interval=7-day+rolling+average&Relative+to+Population=true&Align+outbreaks=false&country=~AUT

deaths as of 14dec https://ourworldindata.org/coronavirus-data

type of vaccines ireland https://covid-19.geohive.ie/pages/vaccinations

## The Dataframe
***

In [3]:
country = {'country':['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark',
           'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia',
           'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia',
           'Slovenia', 'Spain', 'Sweden']}

# Load data to df.
df = pd.DataFrame(country)
# Name column.
df.columns = ['country']
# Set index to start at 1. 
df.index = np.arange(1, len(df)+1)
df

           country
1          Austria
2          Belgium
3         Bulgaria
4          Croatia
5           Cyprus
6   Czech Republic
7          Denmark
8          Estonia
9          Finland
10          France
11         Germany
12          Greece
13         Hungary
14         Ireland
15           Italy
16          Latvia
17       Lithuania
18      Luxembourg
19           Malta
20     Netherlands
21          Poland
22        Portugal
23         Romania
24        Slovakia
25        Slovenia
26           Spain
27          Sweden

In [4]:
# Setting inital start point to generate same random numbers. 
np.random.seed(1000)

# Creating random integers and floats. 
data = {'popultion': np.random.randint(470000, 83000000, 27), 
        'reported_cases': np.random.randint(40624, 400000, 27),
        'reported_deaths': np.random.randint(471, 135000, 27),
        'fully_vaccinated': np.around(np.random.uniform(26.67, 88.81, 27), 2),
        'partially_vaccinated': np.around(np.random.uniform(0.21, 6.28, 27), 2)}
    
# Inputting data into df2. 
df2 = pd.DataFrame(data)
# Setting column names. 
df2.columns = ['population', 'reported_cases', 'reported_deaths', 'fully_vaccinated',
              'partially_vaccinated']
# Setting same index as df.
df2.index = np.arange(1, len(df2)+1)
df2

,population,reported_cases,reported_deaths,fully_vaccinated,partially_vaccinated
1,77872711,301136,108393,33.37,4.18
2,71908016,348642,49625,46.33,2.39
3,55372011,61381,45202,52.12,3.38
4,44528974,374730,31425,69.37,0.48
5,58200396,388884,4218,70.31,0.78
6,73707249,156343,127640,54.40,5.80
7,27265648,61248,72560,52.79,0.65
8,58866205,289700,101288,76.55,5.85
9,41098776,57863,124063,60.14,4.56
10,2573145,83980,52057,84.06,3.99
11,62241044,103259,80802,30.52,4.79
12,34817708,397857,42656,49.51,1.07
13,51238367,138603,17892,86.97,5.03
14,2190548,237007,23190,70.11,4.61
15,74146436,369218,84586,82.04,3.50
16,30887310,41905,17888,42.43,3.14
17,21083020,322747,43741,71.75,3.10
18,44867982,57694,100265,39.32,2.92
19,65514685,150091,133952,60.07,5.16
20,50679490,251615,128044,41.39,1.88
21,39901901,155271,2191,53.79,0.59
22,10400890,90111,100877,76.26,6.04
23,34081278,322165,60589,45.83,2.99
24,57496365,58044,116786,65.29,4.81
25,16898613,370475,41133,53.99,4.34
26,82878372,176392,70602,83.42,3.50
27,34618171,279672,33311,67.60,1.02

In [5]:
# Joining df2 to df.
df = df.join(df2)
df

,country,population,reported_cases,reported_deaths,fully_vaccinated,partially_vaccinated
1,Austria,77872711,301136,108393,33.37,4.18
2,Belgium,71908016,348642,49625,46.33,2.39
3,Bulgaria,55372011,61381,45202,52.12,3.38
4,Croatia,44528974,374730,31425,69.37,0.48
5,Cyprus,58200396,388884,4218,70.31,0.78
6,Czech Republic,73707249,156343,127640,54.40,5.80
7,Denmark,27265648,61248,72560,52.79,0.65
8,Estonia,58866205,289700,101288,76.55,5.85
9,Finland,41098776,57863,124063,60.14,4.56
10,France,2573145,83980,52057,84.06,3.99
11,Germany,62241044,103259,80802,30.52,4.79
12,Greece,34817708,397857,42656,49.51,1.07
13,Hungary,51238367,138603,17892,86.97,5.03
14,Ireland,2190548,237007,23190,70.11,4.61
15,Italy,74146436,369218,84586,82.04,3.50
16,Latvia,30887310,41905,17888,42.43,3.14
17,Lithuania,21083020,322747,43741,71.75,3.10
18,Luxembourg,44867982,57694,100265,39.32,2.92
19,Malta,65514685,150091,133952,60.07,5.16
20,Netherlands,50679490,251615,128044,41.39,1.88
21,Poland,39901901,155271,2191,53.79,0.59
22,Portugal,10400890,90111,100877,76.26,6.04
23,Romania,34081278,322165,60589,45.83,2.99
24,Slovakia,57496365,58044,116786,65.29,4.81
25,Slovenia,16898613,370475,41133,53.99,4.34
26,Spain,82878372,176392,70602,83.42,3.50
27,Sweden,34618171,279672,33311,67.60,1.02

In [6]:
# using np function to subtract one array from another. 
unvaccinated = np.subtract(df2['fully_vaccinated'], df2['partially_vaccinated'])

# Load df3. 
df3 = pd.DataFrame(unvaccinated)
# Setting column name. 
df3.columns = ['unvaccinated']
# Set same index again.
df3.index = np.arange(1, len(df3)+1)

In [7]:
df = df.join(df3)

In [8]:
cases_percentage = np.divide( df2['reported_cases'],df2['population'])
cases_percentage = np.around((np.multiply(cases_percentage, 100)), 2)

# Load df4. 
df4 = pd.DataFrame(cases_percentage)
# Setting column name. 
df4.columns = ['cases_percentage']
# Set same index again.
df4.index = np.arange(1, len(df4)+1)

In [9]:
df = df.join(df4)

In [10]:
death_percentage = np.divide( df2['reported_deaths'],df2['population'])
death_percentage = np.around((np.multiply(death_percentage, 100)), 2)

# Load df5. 
df5 = pd.DataFrame(death_percentage)
# Setting column name. 
df5.columns = ['death_percentage']
# Set same index again.
df5.index = np.arange(1, len(df4)+1)

In [11]:
df = df.join(df5)

In [12]:
df

,country,population,reported_cases,reported_deaths,fully_vaccinated,partially_vaccinated,unvaccinated,cases_percentage,death_percentage
1,Austria,77872711,301136,108393,33.37,4.18,29.19,0.39,0.14
2,Belgium,71908016,348642,49625,46.33,2.39,43.94,0.48,0.07
3,Bulgaria,55372011,61381,45202,52.12,3.38,48.74,0.11,0.08
4,Croatia,44528974,374730,31425,69.37,0.48,68.89,0.84,0.07
5,Cyprus,58200396,388884,4218,70.31,0.78,69.53,0.67,0.01
6,Czech Republic,73707249,156343,127640,54.40,5.80,48.60,0.21,0.17
7,Denmark,27265648,61248,72560,52.79,0.65,52.14,0.22,0.27
8,Estonia,58866205,289700,101288,76.55,5.85,70.70,0.49,0.17
9,Finland,41098776,57863,124063,60.14,4.56,55.58,0.14,0.30
10,France,2573145,83980,52057,84.06,3.99,80.07,3.26,2.02
11,Germany,62241044,103259,80802,30.52,4.79,25.73,0.17,0.13
12,Greece,34817708,397857,42656,49.51,1.07,48.44,1.14,0.12
13,Hungary,51238367,138603,17892,86.97,5.03,81.94,0.27,0.03
14,Ireland,2190548,237007,23190,70.11,4.61,65.50,10.82,1.06
15,Italy,74146436,369218,84586,82.04,3.50,78.54,0.50,0.11
16,Latvia,30887310,41905,17888,42.43,3.14,39.29,0.14,0.06
17,Lithuania,21083020,322747,43741,71.75,3.10,68.65,1.53,0.21
18,Luxembourg,44867982,57694,100265,39.32,2.92,36.40,0.13,0.22
19,Malta,65514685,150091,133952,60.07,5.16,54.91,0.23,0.20
20,Netherlands,50679490,251615,128044,41.39,1.88,39.51,0.50,0.25
21,Poland,39901901,155271,2191,53.79,0.59,53.20,0.39,0.01
22,Portugal,10400890,90111,100877,76.26,6.04,70.22,0.87,0.97
23,Romania,34081278,322165,60589,45.83,2.99,42.84,0.95,0.18
24,Slovakia,57496365,58044,116786,65.29,4.81,60.48,0.10,0.20
25,Slovenia,16898613,370475,41133,53.99,4.34,49.65,2.19,0.24
26,Spain,82878372,176392,70602,83.42,3.50,79.92,0.21,0.09
27,Sweden,34618171,279672,33311,67.60,1.02,66.58,0.81,0.10

## MIGHT USE AT END
***

In [13]:

'''
df.plot.barh(x='country', y=['fully_vaccinated', 'partially_vaccinated', 'unvaccinated'], width=0.65)
plt.gca().invert_yaxis()
plt.xlabel('Percentage of Population')
plt.ylabel('Countries')
plt.title('Vaccination Percentages of European Union')
plt.show()
'''

"\ndf.plot.barh(x='country', y=['fully_vaccinated', 'partially_vaccinated', 'unvaccinated'], width=0.65)\nplt.gca().invert_yaxis()\nplt.xlabel('Percentage of Population')\nplt.ylabel('Countries')\nplt.title('Vaccination Percentages of European Union')\nplt.show()\n"

In [14]:
# ACTUAL DATA COLLECT DEC 13TH 2021
'''
# Creating data for df columns. 
dta = {'country':['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark',
           'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia',
           'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia',
           'Slovenia', 'Spain', 'Sweden'],
        'population':[8772865, 11351727, 7101859, 4154213, 854802, 10578820, 5748769, 1315635, 5503297, 
                      66989083, 82521653, 10768193, 9797561, 4904226, 60589445, 1950116, 2847904, 590667, 
                      467988, 17081507, 37972964, 10309573, 19644350, 5435343, 2065895, 46528966, 9995153],
        'reported_cases':[1230000, 1960000, 714688, 654655, 141566, 2340000, 568477, 228596, 205357, 8360000, 
                          6580000, 1010000, 120000, 628306, 5240000, 262215, 491953, 94300, 40624, 2940000, 
                          3840000, 120000, 1790000, 1290000, 440633, 5340000, 1230000],
        'reported_deaths':[13218, 27631, 29536, 11666, 611, 34551, 3023, 1865, 1442, 121000, 106000, 19345, 36884,
                       5788, 135000, 4376, 6989, 895, 471, 20140, 88508, 18673, 57741, 15415, 5425, 88484, 15191],
        'fully_vaccinated':[68.38, 75.06, 26.67, 49.92, 65.88, 60.49, 77.18, 60.50, 73.56, 70.80, 68.99, 65.21, 
                      61.17, 76.43, 73.37, 65.78, 67.06, 67.69, 84.08, 74.37, 54.73, 88.81, 39.88, 43.32,
                      56.30, 80.66, 71.46],
        'partially_vaccinated':[3.11, 1.09, 0.80, 4.60, 4.53, 2.28, 3.00, 2.38, 4.29, 6.28, 3.01, 4.74, 3.03, 1.23,
                                5.53, 3.36, 3.19, 2.51, 0.58, 2.93, 1.29, 0.21, 1.43, 5.69, 3.23, 1.70, 3.96],
       'unvaccinated':[28.51, 23.85, 72.53, 45.48, 29.59, 37.23, 19.82, 37.12, 22.15, 22.92, 28.00, 30.05, 
                        35.80, 22.34, 21.10, 30.86, 29.75, 29.80, 15.34, 22.70, 43.98, 10.98, 58.69, 50.99, 
                        40.47, 17.64, 24.58]}

# Inputting data into df. 
dff = pd.DataFrame(dta)
# Setting column names. 
dff.columns = ['country', 'population', 'reported_cases', 'reported_deaths', 'fully_vaccinated', 
              'partially_vaccinated', 'unvaccinated']
# Setting index to np array starting at 1. 
dff.index = np.arange(1, len(dff)+1)
#df.set_index('country', inplace=True)
dff
'''

"\n# Creating data for df columns. \ndta = {'country':['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark',\n           'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia',\n           'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia',\n           'Slovenia', 'Spain', 'Sweden'],\n        'population':[8772865, 11351727, 7101859, 4154213, 854802, 10578820, 5748769, 1315635, 5503297, \n                      66989083, 82521653, 10768193, 9797561, 4904226, 60589445, 1950116, 2847904, 590667, \n                      467988, 17081507, 37972964, 10309573, 19644350, 5435343, 2065895, 46528966, 9995153],\n        'reported_cases':[1230000, 1960000, 714688, 654655, 141566, 2340000, 568477, 228596, 205357, 8360000, \n                          6580000, 1010000, 120000, 628306, 5240000, 262215, 491953, 94300, 40624, 2940000, \n                          3840000, 120000, 1790000, 1290000, 440633, 5340000, 1230000],\n        'reported_deaths':[13218, 27631, 29536, 11666, 611, 34551, 3023, 1865, 1442, 121000, 106000, 19345, 36884,\n                       5788, 135000, 4376, 6989, 895, 471, 20140, 88508, 18673, 57741, 15415, 5425, 88484, 15191],\n        'fully_vaccinated':[68.38, 75.06, 26.67, 49.92, 65.88, 60.49, 77.18, 60.50, 73.56, 70.80, 68.99, 65.21, \n                      61.17, 76.43, 73.37, 65.78, 67.06, 67.69, 84.08, 74.37, 54.73, 88.81, 39.88, 43.32,\n                      56.30, 80.66, 71.46],\n        'partially_vaccinated':[3.11, 1.09, 0.80, 4.60, 4.53, 2.28, 3.00, 2.38, 4.29, 6.28, 3.01, 4.74, 3.03, 1.23,\n                                5.53, 3.36, 3.19, 2.51, 0.58, 2.93, 1.29, 0.21, 1.43, 5.69, 3.23, 1.70, 3.96],\n       'unvaccinated':[28.51, 23.85, 72.53, 45.48, 29.59, 37.23, 19.82, 37.12, 22.15, 22.92, 28.00, 30.05, \n                        35.80, 22.34, 21.10, 30.86, 29.75, 29.80, 15.34, 22.70, 43.98, 10.98, 58.69, 50.99, \n                        40.47, 17.64, 24.58]}\n\n# Inputting data into df. \ndff = pd.DataFrame(dta)\n# Setting column names. \ndff.columns = ['country', 'population', 'reported_cases', 'reported_deaths', 'fully_vaccinated', \n              'partially_vaccinated', 'unvaccinated']\n# Setting index to np array starting at 1. \ndff.index = np.arange(1, len(dff)+1)\n#df.set_index('country', inplace=True)\ndff\n"

# Conclusion

# References
***
All references and code used in this notebook has been sourced in Dec 2021 from the following webpages:


- 


-

***
# End